.time_field {
   -fx-font-size: 60;
   -fx-background-color: transparent;
   -fx-border-color: transparent;
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;

   -fx-padding: 0px;

}

#rootPane {
   -fx-background-color: #F5F5F5
}

TextField{
   
}